<h1>投稿一覧</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "新規投稿", new_post_path %>

<ul>
    <% @posts.each do |post| %>
        <li><%= post.content %></li>
    <% end %>
</ul>

<%= link_to "トップページ", root_path %>